/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "font-rule.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inter-bold;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 22pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 16pt;
}

h5 {
    font-size: 12pt;
}

h6 {
    font-size: 9pt;
}

a {
    color: #00B7FF;
}

.container-fluid {
    width: 30%;
    height: 50vh;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 5%;
}

.sidebar-nav {
    font-family: Inter-light;
    margin-top: 20px;
    padding: 15px;
    list-style: none;

    /* border: 1px solid red; */


}

.sidebar-nav p {
    font-family: Inter-bold;
}

.sidebar-nav a {
    text-decoration: none;
}

.sidebar-nav a:hover {
    text-decoration: none;
    color: #00B7FF;
}

main .container {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

main .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 2%;
    padding-right: 2%;

    display: flex;
    justify-content: space-between;
}

main .container .wrapper .content {
    border: 0.1px dashed black;
    padding: 5%;
}

a {
    color: inherit
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 10,
  'wght' 500,
  'GRAD' -25,
  'opsz' 40
}

main .container .wrapper .main-content {
    width: 80%;
    height: 150vh;
}

main .container .wrapper .content form label {
    font-family: Inter-medium;
}

main .container .wrapper .content form .form-group .row {
    margin-top: 2%;
}

main .container .wrapper .content form .form-group .not-bold {
    font-family: Inter-light;
}

main .container .wrapper .content form .form-group #passwordHelpBlock {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

main .container .wrapper .content form section.button-form p {
    color: red;
}

main .explanation {
    padding: 5%;
}

main .explanation ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

main .explanation ol li::marker {
    font-size: 1.2em;
}

main .explanation ul li::marker {
    font-size: 0.9em;
}

main .explanation ol li {
    line-height: 2.3em;
}


main .explanation ol li span {
    font-family: Inter-semi-bold;
    font-size: 1.2em;
}

main .explanation ol li p {
    font-family: Inter-regular;
    font-size: 1.2em;
}

main .explanation .tipe-data {
    color: red;
}

main .explanation .description p {
    font-size: 0.9em;
}

main .explanation code {
    border-radius: 2px;
    color: #e96900;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: normal;

    background-color: #f8f8f8;
}

main .explanation pre>code {
    color: #525252;
    font-size: .8rem;
    padding: 1em 5px;
    line-height: 1.8em;
    margin: 0px 5% 0px 0px;
    max-width: inherit;
    overflow: inherit;
    white-space: pre;

    -webkit-font-smoothing: initial;
    
    border-radius: 2px;
    display: block;
}

main .explanation pre::after {
    content: attr(data-lang);

    color: #ccc;
    font-size: .6rem;
    font-weight: 600;
    height: 15px;
    line-height: 15px;
    padding: 5px 10px 0;
    position: relative;
    right: 0;
    bottom: 0;
    top: -100px;
    text-align: right;
}